@import "./../scss/Variables";

 // alert弹出框的图片
.icon-alert-success {
  display: inline-block;
  background-image: url(./images/defeat.png) ;
  width:pxTorem(80);
  height:pxTorem(80);
}

// memoDialog的确认按钮前的icon
.icon-check-36 {
  display: inline-block;
  background-image: url(./images/sprite.png);
  background-position: 0rem -12.379227053140097rem;
  background-size: 1.2077294685990339rem;
  width: 0.44685990338164255rem;
  height: 0.4589371980676329rem;
}
