.bg-yellow {
  background: #FFD600;
}

.bg-orange {
  background: #F55928;
}

.icon-alert-success {
  display: inline-block;
  background-image: url(./images/defeat.png);
  width: 1.9323671498rem;
  height: 1.9323671498rem;
}

.am-modal-button .icon-alert-cancel {
  display: inline-block;
  background-image: url(./images/sprite.png);
  background-position: 0rem -4.456521739130435rem;
  background-size: 1.2077294685990339rem;
  width: 0.3502415458937198rem;
  height: 0.36231884057971014rem !important;
}

.jw-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 22222;
  overflow: hidden;
}
.jw-dialog .jw-dialog-mark {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  opacity: 0.7;
}
.jw-dialog .jw-dialog-w {
  position: absolute;
  left: 0.4830917874rem;
  right: 0.4830917874rem;
  bottom: 0;
  border-radius: 0.0966183575rem;
}
.jw-dialog .jw-dialog-w .jw-dialog-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.3623188406rem;
}
.jw-dialog .jw-dialog-w .jw-dialog-title {
  border-radius: 0.0966183575rem 0.0966183575rem 0 0;
  height: 1.5217391304rem;
  background: #FFD600;
  padding: 0 0.845410628rem;
  border: none;
}
.jw-dialog .jw-dialog-w .jw-dialog-title .jw-dialog-pic {
  float: left;
  margin-top: 0.3140096618rem;
  margin-right: 0.2415458937rem;
  width: 0.8695652174rem;
  height: 0.8695652174rem;
}
.jw-dialog .jw-dialog-w .jw-dialog-title .jw-dialog-pic img {
  width: 0.8695652174rem;
  height: 0.8695652174rem;
  border-radius: 0.8695652174rem;
}
.jw-dialog .jw-dialog-w .jw-dialog-title .jw-dialog-title-c {
  display: block;
  line-height: 1.5217391304rem;
  color: #494949;
  font-size: 0.38647343rem;
}
.jw-dialog .jw-dialog-w .jw-dialog-c {
  background: #fff;
}
.jw-dialog .jw-dialog-w .jw-dialog-c .form-detail {
  padding: 0 0.845410628rem;
}
.jw-dialog .jw-dialog-w .jw-dialog-btn {
  border: none;
  height: 1.3285024155rem;
  border-radius: 0 0 0.0966183575rem 0.0966183575rem;
  background: #F7F7F7;
  line-height: 1.3285024155rem;
  text-align: center;
  color: #999999;
  font-size: 0.4106280193rem;
}
.jw-dialog .jw-dialog-w .jw-dialog-btn i {
  vertical-align: middle;
  /*width:pxTorem(17);
  height:pxTorem(17);*/
}
.jw-dialog .jw-dialog-w .jw-dialog-btn span {
  margin-left: 0.2415458937rem;
  vertical-align: middle;
}

.hide-scroll {
  overflow: hidden !important;
}

.clear-padding {
  padding: 0 !important;
}

.jw-dialog.fix .jw-dialog-w {
  top: 50%;
  bottom: auto;
}

.appraisal-form {
  padding: 0.5797101449rem 0;
  min-height: 3.8647342995rem;
}

.am-list.jw-list .am-list-body {
  border: none !important;
}

.icon-close-b {
  display: inline-block;
  background-image: url(./images/sprite.png);
  background-position: 0rem -5.036231884057972rem;
  background-size: 1.2077294685990339rem;
  width: 0.3502415458937198rem;
  height: 0.36231884057971014rem;
}

.icon-check-36 {
  display: inline-block;
  background-image: url(./images/sprite.png);
  background-position: 0rem -12.379227053140097rem;
  background-size: 1.2077294685990339rem;
  width: 0.44685990338164255rem;
  height: 0.4589371980676329rem;
}
