.my-radio .am-radio {
  padding: 2.5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 5px;
}

.am-list{
  .am-list-header {
    padding: 15px 15px 9px 15px !important;
    font-size: 14px !important;
  }
  .am-list-item{
    position: relative;
    display: flex;
    padding-left: 15px;
    min-height: 44px;
    background-color: #fff;
    vertical-align: middle;
    overflow: hidden;
    transition: background-color 200ms;
    align-items: center;
    .am-list-line {
      position: relative;
      display: flex;
      flex: 1;
      align-self: stretch;
      padding-right: 15px;
      min-height: 44px;
      overflow: hidden;
      .am-list-content {
          flex: 1;
          color: #000;
          font-size: 17px;
          line-height: 1.5;
          text-align: left;
          width: auto;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-top: 7px;
          padding-bottom: 7px;
      }
      .am-list-extra {
         flex-basis: 36%;
         color: #888;
         font-size: 16px;
         line-height: 1.5;
         text-align: right;
         width: auto;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
         padding-top: 7px;
         padding-bottom: 7px;
      }
    }
  }
  .am-radio-item .am-list-line .am-list-extra .am-radio {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 44px;
    overflow: visible;
    .am-radio-inner {
        position: absolute;
        right: 0;
        width: 15px;
        height: 15px;
        box-sizing: border-box;
        transform: rotate(0deg);
    }
  }
  .am-list-item.am-radio-item .am-list-line .am-list-extra .am-radio-inner {
    right: 15px !important;
    top: 15px !important;
  }
    .am-radio-inner:after {
      position: absolute;
      display: none;
      top: -2.5px;
      right: 5px;
      z-index: 999;
      width: 7px;
      height: 14px;
      border-style: solid;
      border-width: 0 1.5px 1.5px 0;
      content: ' ';
      transform: rotate(45deg);
  }
}
